.book-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.book-modal {
    position: fixed;
    margin: 0 auto;
    /*height: 72%;*/
    /*top: 100px;*/
    background: #f2f2f2;
    padding: 10px;
    max-width: 600px;
    border-radius: 10px;
    outline: none;
    margin-bottom: auto;
    margin-top: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.book-modal .book-modal-wide {
    position: relative;
    width: 200%;
    left: 0;
    top: 0;
    display: flex;
    /*transform: scale(0.9) translateY(50%);*/
    /*transition: all 3000ms ease-out;*/
}

.book-modal .book-modal-wide .create-tour {
    width: 100%;
}

.book-modal .book-modal-wide .create-custom-tour {
    width: 100%;
}

.book-modal .headline-modal {
    padding-bottom: 30px;
    padding-top: 50px;
}

.book-modal form {
    display: flex;
    flex-wrap: wrap;
    max-width: 825px;
}

.book-modal form select {
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    height: 35px;
    margin-bottom: 20px;
    padding: 5px;
    border: 0 solid rgba(160, 160, 159, 0.29);
    box-shadow: 0 0 0 transparent;
    font-family: Roboto;
    background: #ffffff;
    -webkit-appearance: none;
    outline: none;
    color: #2d2926;
    flex-grow: 1;
    flex-basis: 40%;
}

.book-modal form input {
    box-sizing: border-box;
    /*flex: 1 0 200px;*/
    flex-grow: 1;
    flex-basis: 40%;
    height: 35px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
    border: 0 solid rgba(160, 160, 159, 0.29);
    box-shadow: 0 0 0 transparent;
    font-family: Roboto;
    background: #ffffff;
    -webkit-appearance: none;
    outline: none;

    display: block;
    -webkit-box-flex: 1;
}

.book-modal form input[type='submit'] {
    background-color: var(--main-text-color);
    /*flex: 1 1 100%;*/
    flex-grow: 1;
    flex-basis: 80%;
    color: #ffffff;
    font-size: 18px;
    font-family: Roboto;
}

@media only screen and (max-width: 600px) {
    .book-modal {
        bottom: 0;
        left: 0;
        margin: auto;
        height: auto;
        max-height: calc(100vh - 100px) !important;
        max-width: 90%;
        min-width: 320px;
        position: relative;
        right: 0;
        top: 0;
        overflow-y: scroll;
        /*margin-top: auto !important;*/
        /*margin-bottom: auto !important;*/
    }

    .book-modal .book-modal-wide {
        /*align-items: flex-end;*/
    }

    .book-modal .book-modal-wide .create-tour {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .book-modal .book-modal-wide .create-custom-tour {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .book-modal .headline-modal {
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .book-modal select {
        flex-basis: 80% !important;
    }

    .book-modal option {
        color: #f2f2f2;
    }

    /*.book-modal input {*/
    /*height: 40px !important;*/
    /*!*flex: 1 0 100px !important;*!*/
    /*}*/

    /*.book-modal #date {*/
    /*height: 40px !important;*/
    /*flex: 1 0 50px !important;*/
    /*}*/
    /*.book-modal #number {*/
    /*height: 40px !important;*/
    /*flex: 1 0 50px !important;*/
    /*}*/
    /*.book-modal #place {*/
    /*height: 40px !important;*/
    /*flex: 1 0 50px !important;*/
    /*}*/

    /*.book-modal input[type='submit'] {*/
    /*flex: 1 1 150px !important;*/
    /*}*/

    .book-modal .action-link {
        text-align: center;
        color: var(--main-text-color);
    }

    /*input[type='date']:before {*/
        /*content: attr(placeholder) !important;*/
        /*color: #aaa;*/
        /*margin-right: 0.5em;*/
    /*}*/
    /*input[type='date']:focus:before,*/
    /*input[type='date']:valid:before {*/
        /*content: '';*/
    /*}*/

    /*input[type="date"]::before {*/
        /*content: attr(placeholder) !important;*/
        /*width: 100%;*/
    /*}*/

    /*!* hide our custom/fake placeholder text when in focus to show the default*/
     /** 'mm/dd/yyyy' value and when valid to show the users' date of birth value.*/
     /**!*/
    /*input[type="date"]:focus::before ,*/
    /*input[type="date"]:valid::before { display: none }*/

    /*input[type='number']:before {*/
        /*content: attr(placeholder) !important;*/
        /*color: #aaa;*/
        /*margin-right: 0.5em;*/
    /*}*/
    /*input[type='number']:focus:before,*/
    /*input[type='number']:valid:before {*/
        /*content: '';*/
    /*}*/
}
