.BookButton {
    min-width: 150px;
    height: 50px;
    cursor: pointer;
    -moz-appearance: none;
    outline: none;
    -webkit-appearance: button;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4px;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
    .BookButton {
        width: 280px;
    }
}