.GoBookPicture {
}

.GoBookPicture .pict {
  /*width: 486px;*/
  height: 274px;
  /*height: 100%;*/
}

.book-now .pict {
  /*width: 486px;*/
  /*height: 274px;*/
  height: 100%;
}
.GoBookPicture .bord {
  /*width: 484px;*/
  height: 10px;
  margin: 15px auto;
}

@media only screen and (max-width: 600px) {
  .GoBookPicture {
    width: 100%;
  }
  .GoBookPicture .pict {
    width: 100%;
    height: 274px;
  }
}
