.product-container {
    display: flex;
    height: 320px;
}

.product-container .Product {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.product-container .Product .product-name {
    color: #ffffff;
    z-index: 3;

}
.product-container .Product .product-description {
    color: #ffffff;
    z-index: 3;

}

.product-container .Product .product-price {
    color: #ffffff;
    z-index: 3;

}

@media only screen and (max-width: 600px){
    .product-container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .product-container .Product {
       height: 300px;

    }

}