.Heading {
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.Heading .main-heading {
 font-size: 34px;
    /*color: #2F2E2E;*/
    text-transform: uppercase;
    font-weight: 600;
    line-height: 60px;
    /*font-size: 50px;*/
}

.Heading .line {
    width: 40px;
    border-bottom: 3px solid var(--main-text-color);
    height: 0 !important;
    min-height: 0 !important;
    padding: 5px;
}

.Heading .sub-heading {
    /*max-width: 80%;*/
    /*line-height: 1.5em;*/
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
}

.Heading .sub-heading-about {
    line-height: 25px;
    /*text-align: center;*/
    /*margin: 0 auto;*/
    padding: 20px 0 20px 0;
}

@media only screen and (max-width: 600px){
    .Heading {
        padding: 20px 5px;
    }

    .Heading .main-heading {
        font-size: 38px!important;
    }

    .Heading .sub-heading {
        max-width: 100%;
        padding: 20px 5px;
        font-size: 20px;
    }
}