.Heading {
    /*min-height: 230px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /*padding: 20px;*/
    /*min-height: 200px;*/

}

.Heading .main-heading {
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #444444;
    margin: 0;
    padding-bottom: 15px;
}

.Heading .large {
 font-size: 50px;
}

.Heading .line {
    width: 100px;
    border-bottom: 10px solid var(--main-text-color);
    height: 0 !important;
    min-height: 0 !important;
    margin-bottom: 50px;
}

.Heading .sub-heading {
    /*max-width: 80%;*/
    /*line-height: 1.5em;*/
    text-align: left;
    margin: 0 auto;
    /*padding: 20px;*/
    font-size: 20px;
    font-weight: 400;
}

.Heading .sub-heading-about {
    line-height: 25px;
    /*text-align: center;*/
    /*margin: 0 auto;*/
    padding: 20px 0 20px 0;
    font-weight: 300;
    font-size: 16px;
}

.Heading .heading-price {
    font-size: 32px;
    color: #33a3fc;
}


.Heading .heading-discount {
    font-size: 22px;
    color: #0ac66a;
    font-weight: 400;
}

@media only screen and (max-width: 600px){
    .Heading {
        padding: 20px 5px;
    }

    .Heading .main-heading {
        font-size: 1.5rem;
        line-height: 40px;
    }

    .Heading .large {
        font-size: 35px;
        line-height: 42px;
    }

    .Heading .sub-heading {
        max-width: 100%;
        padding: 20px 5px;
        font-size: 20px;
    }
}