.book-now-container {
  display: flex;
  flex-direction: column;
  grid-column-end: 9;
  grid-column-start: 2;
  overflow: hidden;
}

.book-now {
  /*grid-area: main;*/
  display: flex;
  padding-bottom: 100px;
  /*padding-top: 50px;*/
  grid-column-end: 9;
  grid-column-start: 2;
  justify-content: space-between;
}

.book-now .book-now-image {
  background: url('//images.ctfassets.net/0o22ljw5du6a/2B2befRnTSqKYYaQM0wyAM/35ce0134483f5b0135373107219c3405/BANER.jpg');
  width: 40%;
  height: 461px;
}

.book-now .book-now-container {
  position: static;
  max-width: unset;
  transform: unset;
  /*margin-left: 50px;*/
  max-height: unset;
  width: 60%;
}

.book-now .book-now-container .headline-modal {
  padding-top: 0;
}

.book-now button {
  width: calc(100% - 66px);
  margin: 20px 8px;
}

@media only screen and (max-width: 600px) {
  .book-now-container {
    display: flex;
    flex-direction: column;
    grid-column-end: 10;
    grid-column-start: 1;
  }
  .book-now-container .Heading {
    padding-bottom: 0;
    padding-left: 8px;
  }

  .book-now {
    flex-direction: column;
    padding-top: 0;
    grid-column-end: 10;
    grid-column-start: 1;
    display: block;
  }

  .book-now .book-now-container {
    margin: 0 auto;
    width: 100%;
  }

  #book-now-image {
    display: none;
  }

  .book-now .book-now-image {
    width: 100%;
  }

  .book-now .book-now-container .headline-modal {
    padding-top: 20px;
  }
  .book-now button {
    width: calc(100% - 16px);
    margin: 20px 8px;
  }

  .book-now .GoBookPicture {
    display: none;
  }
}
