.contact-container {
  padding-top: 50px;
  grid-column-start: 2;
  grid-column-end: 9;
  padding-bottom: 100px;
}
.contact-container .contact-details {
  display: flex;
}

.contact-container .GoBookPicture {
  width: 40%;
}

.contact-container .GoBookPicture .pict {
  width: 100%;
  height: 100%;
}

.contact-container .book-now-image {
  background: url('//images.ctfassets.net/0o22ljw5du6a/2B2befRnTSqKYYaQM0wyAM/35ce0134483f5b0135373107219c3405/BANER.jpg');
  height: 461px;
  /*grid-column-start: 1;*/
  /*grid-column-end: 4;*/
  grid-area: img;
}

.contact-container .Contact {
  padding-top: 50px;
  /*grid-column-start: 4;*/
  /*grid-column-end: 10;*/
  grid-area: main;
}

.contact-container .Contact .contact-heading {
  font-size: 36px;
  color: #737373;
  line-height: 1.4em;
  text-align: center;
  padding-bottom: 50px;
}

.contact-container .Contact .contact-detail {
  font-size: 16px;
  color: #737373;
  font-style: italic;
  padding-bottom: 70px;
}

.contact-container .Contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.contact-container .Contact form input {
  box-sizing: border-box;
  /*flex: 1 0 200px;*/
  flex-grow: 1;
  flex-basis: 40%;
  height: 35px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 5px;
  border: 0 solid rgba(160, 160, 159, 0.29);
  box-shadow: 0 0 0 transparent;
  font-family: Roboto;
  background: #ffffff;
  -webkit-appearance: none;
  outline: none;

  display: block;
  -webkit-box-flex: 1;
}
.contact-container .Contact form input[type='submit'] {
  background-color: var(--main-text-color);
  -webkit-appearance: none;
  color: #ffffff;
  font-size: 18px;
  font-family: Roboto;
}

.contact-container .Contact form textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  /*margin-bottom: 13px;*/
  resize: none;
  overflow: hidden;
  overflow-y: auto;
  /*box-shadow: 0 0px 0px transparent;*/
  padding: 5px;
  /*font: normal normal normal 14px/1.4em brandon-grot-w01-light,sans-serif;*/
  /*background-color: rgba(255, 255, 255, 1);*/
  /*border: 0px solid rgba(160, 160, 159, 0.29);*/
  /*font-size: small;*/
  /*background-color: #f5f5f5;*/
  font-family: Roboto;
  /*background: #ffffff;*/

  /*box-sizing: border-box;*/
  /*flex: 1 0 200px;*/
  flex-grow: 1;
  flex-basis: 100%;
  height: 35px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  /*padding: 5px;*/
  border: 0 solid rgba(160, 160, 159, 0.29);
  box-shadow: 0 0 0 transparent;
  /*font-family: Roboto;*/
  background: #ffffff;
  -webkit-appearance: none;
  outline: none;

  display: block;
  -webkit-box-flex: 1;
}

.contact-container .Contact form :first-child {
  margin-right: 20px;
}

.contact-container .Contact form #name {
  width: 290px;
}

.Contact form select {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: 0 0 0 transparent;
  font-family: Roboto;
  background: #ffffff;
  -webkit-appearance: none;
  outline: none;
  flex-grow: 1;
  /*flex-basis: 40%;*/
  border: 1px solid #ccc;
  font-size: 12px;
  color: #333;
  height: 40px;
  border-radius: 3px;
}

.Contact form input {
  box-sizing: border-box;
  /*flex: 1 0 200px;*/
  flex-grow: 1;
  flex-basis: 40%;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 5px;
  box-shadow: 0 0 0 transparent;
  font-family: Roboto;
  background: #ffffff;
  -webkit-appearance: none;
  outline: none;

  display: block;
  -webkit-box-flex: 1;
  border: 1px solid #ccc;
  font-size: 12px;
  color: #333;
  height: 40px;
  border-radius: 3px;
}

@media only screen and (max-width: 600px) {
  .contact-container {
    /*grid-template-areas: "img img img img img img" "main main main main main main " "ft ft ft ft ft ft ";*/
    padding-top: 50px;
    grid-column-start: 1;
    grid-column-end: 10;
    padding-bottom: 100px;
  }

  .contact-container .contact-details {
    flex-direction: column;
  }

  .contact-container .Heading {
    margin-left: 8px;
  }
  .contact-container .Contact form #name {
    width: 100%;
  }

  .contact-container .Contact form :first-child {
    margin-right: 0;
  }

  .contact-container .Contact form input {
    height: 45px;
  }

  .contact-container .Contact .Heading {
    padding: 0;
  }
}
