.Tour {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.Tour .originalClass {
    max-height: 400px;
}


/*.Tour .image-gallery-image {*/
    /*max-height: 400px;*/
/*}*/

@media only screen and (max-width: 600px){
    .Tour .originalClass {
        max-height: 300px;
    }
}