.ext-panel {
    display: flex;
    flex-direction: column;
    background-color: unset!important;
    box-shadow: unset!important;
    width: 90%;
}

.ext-panel .exp-sum {
    height: 50px;
    /*width: 100%;*/
}

.ext-panel .exp-sum .title{
    padding-left: 20px;
    max-width: 400px;
    max-height: 100%;
    white-space: pre-wrap;
}

@media only screen and (max-width: 600px){
    .ext-panel {
        width: 100%;
    }

    .ext-panel .exp-sum {
        height: unset;
        min-height: 50px;
        /*width: 100%;*/
    }

    .ext-panel .exp-sum .title{
        text-align: left;
    }
    .ext-panel .exp-details {
        padding: 0;
    }
}