.ext-panel {
    /*display: flex;*/
    /*flex-direction: column;*/
    background-color: unset!important;
    box-shadow: unset!important;
}

.ext-panel .exp-sum {
    height: 50px;
}

.ext-panel .exp-sum .title{
    padding-left: 20px;
}